.main_wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    gap: 30px;
    padding: 0 20px;
}

.form_wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    align-items: center;
}

.input {
    width: min(100%, 500px);
    max-width: min(100%, 500px);
}