@use "pico";


.flex {
  display: flex;
}

.horizontal {
  flex-direction: row;
}

.vertical {
  flex-direction: column;
}

:root {
  --accent-blue: rgb(1, 114, 173);
  --theme-background: rgb(245, 245, 245);
}