.home_wrapper {
    background-color: var(--theme-background);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex: 1;
    padding: 20px;
    gap: 20px;
}

.message_window_wrapper {
    display: flex;
    flex: 3;
    min-width: 0;
}

.chat_window_wrapper {
    display: flex;
    flex: 1;
    min-width: 0;
}



@media screen and (max-width: 1468px) {
    .message_window_wrapper {
        flex: 2;
    }
}

@media screen and (max-width: 1024px) {
    .message_window_wrapper {
        flex: 1;
    }

}

@media screen and (max-width: 768px) {

    .hide {
        display: none !important;
    }

    .show {
        display: auto !important;
    }


}